<h1>Inventory</h1>

<h2> Cash: $<%= @inventory.cash.round(2)%> </h2>
<h2> Lemons: <%= @inventory.lemons%> </h2>
<h2> Sugar: <%= @inventory.sugar%> </h2>

<h2>Make Lemonade:</h2>
<div class="morning">
  <div class="settings">
    <table>
      <tr>
      <%= render partial: "form", locals: { inventory: @inventory } %>
      </tr>
    </table>
  </div>

  <h2> Lemonade for the day: <%= @inventory.lemonades%></h2>

  <footer>
    <%= link_to "Back to day", @day, class: "button" %> 
  </footer>
</div>
