<main class="title-menu">
  <header>
    Lemonade Stand Game
  </header>
  <div class="buttons">
    <%= link_to "New Game", title_new_game_path, method: :post, class: "button", data: { confirm: "Your progress will be lost. Are you sure?" } %>

    <% unless @game.nil? %>
      <%= link_to "Continue Game", title_continue_game_path, method: :post, class: "button" %>
    <% end %>
  </div>
</main>