<h1>Market</h1>

<%= form_with(model: @market) do |f| %>
<div class="item-tiles container">
  <div class="item-tile">
    <table>
      <tr>
        <th>Lemon</th>
        <td><%= @market.lemon_price %></td>
      </tr>
      <tr>
        <td>In inventory:</td>
        <td><%= @inventory.lemons %></td>
      </tr>
    </table>
    <div class="buy-strip">
      <label>
        <span class="title">Buy</span>
        <%= f.label :new_lemons %>
        <%= f.number_field :new_lemons, value: 1 %>
      </label>
    </div>
  </div>
  <div class="item-tile">
    <table>
      <tr>
        <th>Sugar</th>
        <td><%= @market.sugar_price %></td>
      </tr>
      <tr>
        <td>In inventory:</td>
        <td><%= @inventory.sugar %></td>
      </tr>
    </table>
    <div class="buy-strip">
      <label>
        <span class="title">Buy</span>
        <%= f.label :new_sugars %>
        <%= f.number_field :new_sugars, value: 1 %>
      </label>
    </div>
  </div>
</div>

<div class="container wallet">
  <table>
    <tr>
      <th>Wallet</th>
      <td><%=@inventory.cash %></td>
    </tr>

  </table>
</div>
  <%= f.hidden_field :lemon_price, :value => @market.lemon_price %>
  <%= f.hidden_field :sugar_price, :value => @market.sugar_price  %>

<%= f.submit "Buy"%>

<% end %>