// Place all the styles related to the morning_preps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.morning {
  .yesterday, .settings, .summary {
    border: 1px solid #E65100;
    background: #FFF3E0;
    border-radius: 8px;
    padding: 8px 0;
    margin: 8px 0;

    table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        padding: 2px 16px;
      }

      th {
        text-align: left;
      }

      td {
        font-family: "Ubuntu Mono", monospace;
        text-align: right;
      }
    }
  }

  .settings {
    background: #E8EAF6;
    border-color: #3F51B5;
  }
}
